In [8]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

names_list = []
prices_list = []
discounts_list = []

for i in range (1, 10):
  url = "https://www.flipkart.com/search?q=tshirts&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page"+str(i)

  response = requests.get(url)
  soup = BeautifulSoup (response.text,'lxml')

  names = soup.find_all ('div',class_='syl9yP')
  for name in names:
    names_list.append(name.text.strip())

  prices = soup.find_all ('div',class_='Nx9bqj')
  for price in prices:
    prices_list.append(price.text.strip())

  discounts = soup.find_all ('div',class_='UkUFwK')
  for discount in discounts:
    discounts_list.append(discount.text.strip())

In [9]:
print(len(names_list))
print(len(prices_list))
print(len(discounts_list))

360
405
402

In [10]:
min_len = min(len(names_list),len(prices_list),len(discounts_list))

names_list = names_list

prices_list = prices_list[:min_len]

discounts_list = discounts_list[:min_len]

In [11]:
df=pd.DataFrame({'Tshirt name': names_list,
                 'Prices':prices_list,
                 'Discounts': discounts_list
                 })

In [12]:
print(df)

     Tshirt name Prices Discounts
0         KAJARU   ₹189   86% off
1         KAJARU   ₹189   81% off
2         VeBNoR   ₹249   75% off
3        Teezler   ₹259   80% off
4            Kyk   ₹279   62% off
..           ...    ...       ...
355       VeBNoR   ₹238   62% off
356    Polo Plus   ₹249   71% off
357   RED CLOVER   ₹279   85% off
358    EyeBogler   ₹288   86% off
359  DyrectDeals   ₹299   81% off

[360 rows x 3 columns]

In [13]:
df

     Tshirt name Prices Discounts
0         KAJARU   ₹189   86% off
1         KAJARU   ₹189   81% off
2         VeBNoR   ₹249   75% off
3        Teezler   ₹259   80% off
4            Kyk   ₹279   62% off
..           ...    ...       ...
355       VeBNoR   ₹238   62% off
356    Polo Plus   ₹249   71% off
357   RED CLOVER   ₹279   85% off
358    EyeBogler   ₹288   86% off
359  DyrectDeals   ₹299   81% off

[360 rows x 3 columns]

In [14]:
df.to_csv(r"C:\Users\Administrator\OneDrive\Documents\Projects\Tshirts for Men.csv",index=False)